.text-area-wrapper{
    width: 100%;
    textarea{
        width: 100%;
        overflow: hidden;
        padding: 6px 10px;
        font-size: 14px;
        display: block;
        border: 0px;
        resize: none;
        font-family: OpenSansBold;
        background-color: transparent;

        &:active, &:focus{
            border: 0px;
            outline: none;
        }
      }
}