@import '../../styles/colors.scss';

.note-wrapper{
    width: 240px;
    border-radius: 10px;
    padding: 5px 10px 5px 15px;
    border: 1px solid;
    margin: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover{
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 
        0 1px 3px 1px rgba(60,64,67,0.149);
        .note-info, .action-wrapper{
            .title-wrapper, .action-button{
                visibility: visible;
                .pinned-icon{
                    visibility: visible;
                }    
            }
        }
        
    }
    .note-info{
        .title-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
                width: calc(100% - 40px);
                margin: 0px;
                font-size: 16px;
                font-family: OpenSansBold;
    
            }
            .pinned-icon{
                visibility: hidden;
            }
        }
        .description{
            margin: 0px;
            font-size: 16px;
            line-height: 20px;
            font-family: OpenSansRegular;
        }
    }
    .action-wrapper{
        display: flex;
        justify-content: flex-end;

        .action-button{
            visibility: hidden;
        }
    }
}