@import '../../styles/colors.scss';

.expanded-view{
    .title-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .action-button-wrapper{
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 5px;
        .close-btn{
            position: absolute;
            right: 0;
            padding: 6px 15px;
            border-radius: 10px;
            font-family: OpenSansRegular;
            font-weight: 500;
            &:hover{
                cursor: pointer;
                background-color: $icon-background-color;
            }
        }
    }
}