@import '../../styles/colors.scss';

.expanded-view{
    .title-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .description-wrapper{
        
    }
    .action-button-wrapper{
        display: flex;
        position: relative;
        align-items: center;
        .close-btn{
            color: #E8EAED;
            position: absolute;
            right: 0;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                background-color: $icon-background-color;
            }
        }
    }
}