@import '../../styles/sizes.scss';

.base-layout-container{
    width: 100%;
    min-height: 100vh;
    position: relative;

    .content-wrapper{
        width: 100%;
        padding-top: $header-height;
        display: flex;

        .view-wrapper{
            padding: 10px 10px 10px 80px;
            overflow-y: auto;
            height: calc(100vh - #{$header-height - 8px});
            flex: auto;
            transition: 0.5s;

            @media only screen and (min-width: 768px) {
                padding: 10px;
            }
        }
    }
}