@import '../../styles/sizes.scss';

.base-layout-container{
    width: 100%;
    min-height: 100vh;
    position: relative;

    .content-wrapper{
        width: 100%;
        padding-top: $header-height;
        display: flex;

        .view-wrapper{
            overflow-y: auto;
            height: calc(100vh - #{$header-height - 8px});
            flex: auto;
        }
    }
}