@import '../../styles/colors.scss';

.archived-note-list-container{
    @mixin section-heading {
        font-size: 12px;
        color: $dark-theme-text-color;
        font-weight: 500;
        margin-left: 20px;
        text-transform: uppercase;
    }
    @mixin note-list {
        display: flex;
        flex-wrap: wrap;
    }

    .archived-notes-wrapper{
        .note-list{
            @include note-list;
        }
        .heading{
            @include section-heading;
        }
    }
}