$primary-color: #2685EF;
$primary-text-color: #E8EAED;
$white-color: #ffffff;
$background-color: #fafafa;
$icon-background-color: #9aa0a628;
$background-color1: #f2f2f2;
$line-color: #e1e4e7;
$dark-theme-text-color: #9aa0a6;
$creator-box-text-color: #80868b;