@import '../../styles/colors.scss';

.note-modifier-wrapper{
    width: 100%;
    max-width: 600px;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
    z-index: 5001;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6),
    0 2px 6px 2px rgba(0,0,0,0.302);

    &:hover{
        cursor: text;
    }
    .collapsed-view{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .placeholder-text{
            font-size: 14px;
        }
        .action-button-wrapper{
            display: flex;
        }
    }
    .expanded-view{
        .title-wrapper{
            display: flex;
            justify-content: space-between;
        }
        .description-wrapper{
            
        }
        .action-button-wrapper{
            display: flex;
            position: relative;
            align-items: center;
            .close-btn{
                color: #E8EAED;
                position: absolute;
                right: 0;
                padding: 10px;
                border-radius: 10px;
                &:hover{
                    cursor: pointer;
                    background-color: $icon-background-color;
                }
            }
        }
    }
}
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: 0.75;
}