@import '../../styles/colors.scss';

.search-bar-wrapper{
    display: flex;
    padding: 4px 8px;
    border-radius: 10px;
    position: absolute;
    width: 90%;
    top: 10px;
    left: 10px;
    z-index: 100;
    @media only screen and (min-width: 768px) {
        width: 100%;
        top: 0;
        left: 0;
        position: relative;
    }

    &:focus-within{
        background-color: $white-color;
    }
    
    input[type=text] {
        width: 100%;
        margin-left: 10px;
        margin-right: 16px;
        border: none;
        border-radius: 4px;
        font-size: 17px;
        font-family: OpenSansRegular;
        background-color: transparent;
        
        &:focus{
            outline: none;
        }
    }
}