@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

@mixin hightlight-icon {
  fill: $white-color;
  stroke: $white-color;
}

.side-bar {
  height: calc(100vh - #{$header-height - 8});
  padding: 10px 0px 5px 0px;
  box-sizing: border-box;
  transition: 0.5s;
  position: fixed;
  z-index: 10;
  &.collapsed{
    width: 80px;
  }
  &.open{
    width: 280px;
    box-shadow: 0 16px 10px 0 rgba(0,0,0,0.14), 
      0 11px 18px 0 rgba(0,0,0,0.12), 
      0 13px 5px -1px rgba(0,0,0,0.2);
      @media only screen and (min-width: 768px) {
        box-shadow: none;
      }
  }
  @media only screen and (min-width: 768px) {
    position: relative;
  }

  .side-bar-option {
    height: 50px;
    text-align: center;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 5px;
    .side-nav-icon-wrapper{
      width: 50px;
      height: 50px;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    }
    .menu-name{
      margin-left: 20px;
      font-family: OpenSansSemiBold;
      position: absolute;
      left: 60px;
      top: -2px;
    }
  }
}

.side-bar.open{
  .menu-name{
    display: block;
  }
  .side-bar-option:hover{
    background-color: $icon-background-color;
  }
  .side-bar-option.active-page{
    background-color: $primary-color;
    svg{
      @include hightlight-icon;
    }
  }
}
.side-bar.collapsed{
  .menu-name{
    display: none;
  }
  .side-bar-option:hover{
    .side-nav-icon-wrapper{
      background-color: $icon-background-color;
    }
  }
  .side-bar-option.active-page{
    .side-nav-icon-wrapper{
      background-color: $primary-color;
      svg{
        @include hightlight-icon;
      }
    }
  }
}