@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

.side-bar {
  padding: 10px 20px 5px 0px;
  top: $header-height + 8;
  box-sizing: border-box;
  height: calc(100vh - #{$header-height - 8});

  .side-bar-option {
    height: 50px;
    text-align: center;
    padding: 2px 0 2px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    
    &:hover {
      background-color: $icon-background-color;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
    }

    .menu-name{
      margin-left: 20px;
      font-size: 16px;
    }
  }

  .side-bar-option:last-child { 
    border-bottom: none;
  }

  .credit-icon {
    height: 30px;
  }

  .ad-icon {
    height: 25px;
  }

  .page-links{
    color: $primary-color;
  }

  .page-links:hover, .active-page {
    background: #2685ef !important;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }
}