@import '../../styles/colors.scss';

.note-creator-wrapper{
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 15px;
    &:hover{
        cursor: text;
    }
    
    .collapsed-view{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .placeholder-text{
            font-size: 14px;
            font-weight: 500;
            color: $creator-box-text-color;
            font-family: OpenSansBold;
        }
        .action-button-wrapper{
            display: flex;
        }
    }
}